@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
	font-family: 'arboria-blackuploaded_file';
    src: url('../../fonts/arboria-black-webfont.woff2') format('woff2'),
         url('../fonts/arboria-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'arboria-blackitaluploadedfile';
    src: url('../fonts/arboria-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/arboria-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'arboria-lightuploaded_file';
    src: url('../fonts/arboria-light-webfont.woff2') format('woff2'),
         url('../fonts/arboria-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'arboria-lightitaluploadedfile';
    src: url('../fonts/arboria-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/arboria-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'arboria-mediumuploaded_file';
    src: url('../fonts/arboria-medium-webfont.woff2') format('woff2'),
         url('../fonts/arboria-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'arboria-mediumitauploadedfile';
    src: url('../fonts/arboria-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/arboria-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'arboria-thinuploaded_file';
    src: url('../fonts/arboria-thin-webfont.woff2') format('woff2'),
         url('../fonts/arboria-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'arboria-thinitaliuploadedfile';
    src: url('../fonts/arboria-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/arboria-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'arboria-bolduploaded_file';
    src: url('../fonts/fontsfree-net-arboria-bold-webfont.woff2') format('woff2'),
         url('../fonts/fontsfree-net-arboria-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'arboria-mediumuploaded_file';
	overflow-x: hidden;
}

section {
	width: 100%;
	display: block;
}

.mb-Slider {
	min-height: 100vh;
}

.main-nav, .slide-cnt-sec {
	width: 100%;
	display: inline-block;
}

.mb-intro {
	width: 100%;
	display: inline-block;
	min-height: 265px;
	background: rgb(38,56,116);
	background: linear-gradient(90deg, rgba(38,56,116,1) 0%, rgba(25,117,184,1) 100%);
}

.mb-intro img {
	width: 45%;
}

.mb-consulting {
	padding: 65px 0px;
}

.lgo-lft {
	width: 50%;
	float: left;
}

.rht-nav {
	width: 50%;
	float: left;
}

.rht-nav ul {
	margin-left: -15px !important;
	margin-top: 6%;
}

.rht-nav ul li {
	list-style: none;
	float: left;
	margin-right: 12px;
	margin-right: 50px;
}

.rht-nav ul li:last-child {
	margin-right: 0px;
}

.rht-nav ul li a {
	font-size: 19px;
	color: #1e3176;
	font-family: 'arboria-mediumuploaded_file';
}

.rht-nav ul li a:hover {
	color: #f96029;
	text-decoration: none;
}

.cnt-left, .slide-pic-rht {
	width: 50%;
	float: left;
}

.slide-pic-rht img {
	width: 90%;
}

.lgo-lft img {
	width: 55%;
	margin-left: 7%;
	margin-top: 2%;
	float: left;
}

.mb-rs-innr h5 {
	float: right;
	width: 100%;
	text-align: right;
	font-size: 50px;
	margin: 0px;
	font-family: 'Bebas Neue', cursive;
	height: 30px;
	margin-top: 12%;
}

.mb-rs-innr h4 {
	float: right;
	width: 100%;
	text-align: right;
	font-size: 80px;
	margin: 0px;
}

.rht {
	padding-right: 30px;
}

.mb-consulting h4 {
	text-align: center;
	font-family: 'arboria-lightuploaded_file';
	font-size: 30px;
}

.mb-rs-innr h3 {
	margin-top: 9%;
}

.mb-rs-innr {
	position: relative;
}

.consult-listing {
	width: 20%;
	float: left;
	min-height: 570px;
	background: url(../images/shadow.png);
	background-repeat: no-repeat;
	position: relative;
	margin-left: -5px;
}

.list-bg {
	position: absolute;
	top: 28%;
	right: -35%;
	width: 90%;
}

.consult-listing p {
	line-height: 25px;
	font-family: 'arboria-lightuploaded_file';
	font-size: 25px;
	margin-top: 109%;
	padding-left: 125px;
}

.mb-global-count {
	background-color: #f1f1f1;
	width: 100%;
	display: inline-block;
	min-height: 220px;
	margin: 60px 0px;
}

.mb-global-count .mb-count-innr {
	width: 25%;
	float: left;
	padding-right: 5%;
}

.mb-global-count .mb-count-innr p {
	line-height: 32px;
	font-family: 'arboria-lightuploaded_file';
	font-size: 28px;
	margin-top: 15%;
	margin-bottom: 8%;
}

.mb-global-count .mb-count-innr span {
	color: #ff622a;
}

.mb-rs-free {
	background: url(../images/box_home-04.png);
	background-size: cover;
	width: 100%;
	display: inline-block;
	min-height: 297px;
}

.mb-rs-innr {
	width: 50%;
	float: left;
	color: #fff;
}

.mb-epsac {
	min-height: 1100px;
	padding-top: 55px;
	background: url(../images/wave_icon-08.png);
	background-size: cover;
	background-position-y: -135px;
}

.mb-epsac h4 {
	color: #000;
	font-family: 'arboria-lightuploaded_file';
	border-radius: 45px;
	border: 1px solid #ff622a;
	display: inline-block;
	font-size: 35px;
	padding: 20px 35px;
	margin: 80px auto;
}

.mb-epsac h4 span {
	color: #ff622a;
	margin-left: 10px;
	font-size: 40px;
}

.mb-epsac h6 {
	text-align: right;
	font-size: 25px;
	color: #fff;
	margin-top: 3%;
	display: inline-block;
	float: right;
	margin-right: 5%;
}

.features-list {
	width: 30%;
	float: left;
	background-color: #fff;
	padding: 20px;
	box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
	margin: 1.5%;
	min-height: 270px;
}

.features-list h3 {
	color: #ff6029;
	width: 64%;
	height: 75px;
}

.features-list p {
	font-family: 'arboria-lightuploaded_file';
	font-size: 22px;
}

.mb-abroad {
	min-height: 1000px;
	padding-top: 65px;
}

.abroad-innr {
	width: 33.3%;
	float: left;
	min-height: 640px;
	padding: 0px 45px;
}

.abroad-innr img {
	border: 1px solid #2d3d7e;
	border-radius: 45px;
}

.abroad-innr h5 {
	font-family: 'arboria-lightuploaded_file';
	font-size: 25px;
}

.abroad-innr h5 span {
	font-family: 'arboria-mediumuploaded_file';
}

.abroad-innr ul li {
	font-family: 'arboria-lightuploaded_file';
	font-size: 20px;
}

.abroad-innr ul li img {
	border: 0px solid #2d3d7e;
	margin-right: 7px;
}

.abroad-innr ul {
	margin-top: 3%;
}

.abroad-innr h5 {
	margin-top: 15%;
}

.mb-abroad  h4 {
	color: #000;
	font-family: 'arboria-lightuploaded_file';
	border-radius: 45px;
	border: 1px solid #ff622a;
	display: inline-block;
	font-size: 35px;
	padding: 20px 35px;
	margin: 80px auto;
}

.cnt-left ul li {
	font-family: 'arboria-lightuploaded_file';
	font-size: 18px;
}

.cnt-left ul li img {
	margin-right: 7px;
}

.cnt-left h4 {
	font-size: 48px;
	color: #1e3176;
	width: 85%;
	margin-top: 6%;
}

.cnt-left .a-btn {
	display: block;
	background: url(../images/button_home-21.png);
	width: 240px;
	background-size: cover;
	float: left;
	cursor: pointer;
}

.cnt-left  a.a-btn {
	color: #FFFFFF;
	text-align: center;
	font-size: 25px;
	padding: 22px 30px;
	z-index: 9999;
	position: absolute;
	left: 0;
}

.cnt-left  a.a-btn:hover {
	color: #FFFFFF;
}

.cnt-left  h4 span {
	color: #ff622a;
	font-size: 65px;
}

.mb-abroad  h4 span {
	color: #ff622a;
	font-size: 45px;
}

.mb-mpuais {
	min-height: 825px;
	background-color: #efefef;
	padding-top: 3%;
}

.mb-mpuais h4 {
	color: #000;
	font-family: 'arboria-lightuploaded_file';
	font-size: 35px;
	padding: 60px 35px;
	text-align: center;
}

.mb-mpuais h4 span {
	color: #ff622a;
	margin-left: 10px;
	font-size: 40px;
}

.mb-footer {
	position: relative;
	background-color: #1E3176;
	height: 800px;
	color: #fff;
}

.ftr-bg1, .ftr-bg2, .ftr-bg3 {
	position: absolute;
	z-index: 9;
	display: block;
}

.ftr-bg1 {
	top: -15px;
}

.ftr-bg2 {
	bottom: 0px;
}

.ftr-bg3 {
	width: 50%;
	right: 0;
	opacity: 0.055;
	top: 1%;
}

.ftr-innr {
	width: 100%;
	display: block;
	overflow: hidden;
}

.ftr-logo {
	width: 40%;
	float: left;
	padding-right: 100px;
	padding-top: 100px;
}

.ftr-links-list {
	width: 25%;
	float: left;
	padding-top: 10%;
	padding-left: 2%;
}

.ftr-btm-sec {
	width: 100%;
	display: inline-block;
	margin-top: 5%;
}

.ftr-btm-inr {
	width: 50%;
	float: left;
	font-size: 20px;
}

.ftr-btm-inr p {
	color: #fff;
}

ul {
	margin-left: -40px;
}

ul li {
	list-style: none;
}

.mb-footer a {
	color: #fff;
}

.mb-footer a:hover {
	color: #fff;
}

.ftr-logo p {
	font-size: 25px;
	margin-top: 35px;
}

.ftr-logo ul {
	margin-top: 25%;
}

.ftr-logo ul li img {
	width: 55px;
}

.ftr-logo img {
	width: 375px;
}

.ftr-links-list h4 {
	font-size: 30px;
}

.ftr-logo ul li {
	float: left;
	margin-right: 10px;
}

.ftr-links-list ul li {
	font-size: 20px;
	line-height: 40px;
}

.ftr-links-list ul {
	margin-top: 10%;
}

.ftr-btm-inr a.c1 {
	font-family: 'arboria-lightitaluploadedfile';
}

.ftr-btm-inr.c2 {
	text-align: right;
}

.a-btn {
	display: block;
	background: url(../images/white_button_home-29.png);
	width: 240px;
	background-size: cover;
	float: right;
}

a.a-btn {
	color: #1e3176;
	text-align: center;
	font-size: 25px;
	padding: 12px 30px;
	z-index: 9999;
	position: absolute;
	right: 0;
}

.mb-rs-innr .a-btn {
	display: block;
	background: url(../images/white_button_home-29.png);
	width: 240px;
	background-size: cover;
	float: right;
}

.mb-rs-innr a.a-btn {
	color: #1e3176;
	text-align: center;
	font-size: 24px;
	padding: 16px 30px;
	z-index: 9999;
	position: absolute;
	left: 0;
}

.mb-rs-innr a.a-btn {
	text-decoration: none;
}

.mb-epsac h6 a {
	color: #ff622a;
}

.mb-epsac h6 a:hover {
	color: #ffffff;
}

.btn-wrp {
	width: 100%;
	display: inline-block;
	position: relative;
	min-height: 80px;
}

.btn-wrp-new {
	width: 100%;
	display: inline-block;
	position: relative;
	min-height: 80px;
	margin: 20px 0px;
}

.btn-wrp a p {
	margin-top: 5px;
	margin-left: 10px;
}

.mb-contact-sec h4 {
	color: #000;
	font-family: 'arboria-lightuploaded_file';
	border-radius: 45px;
	border: 1px solid #ff622a;
	display: inline-block;
	font-size: 35px;
	padding: 20px 35px;
	margin: 80px auto;
}

.mb-contact-sec h4 span {
	color: #ff622a;
}

.contact-wrp {
	background-color: #f1f1f1;
	width: 100%;
	min-height: 690px;
	margin-bottom: 140px;
}

.cont-wrp-innr {
	width: 50%;
	float: left;
}

.cont-wrp-innr ul li {
	width: 100%;
	display: inline-block;
	margin-bottom: 25px;
}

.cont-wrp-innr ul li img {
	float: left;
	margin-right: 5px;
}

.cont-wrp-innr ul li p {
	float: left;
	width: 60%;
	font-size: 20px;
}

.cont-wrp-innr ul {
	margin-top: 30%;
}

.ftr-outr {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	z-index: 99;
}

.form-wrp {
	box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
	padding: 55px;
	width: 100%;
	background-color: #fff;
	margin-top: -35px;
	min-height: 760px;
}

.form-wrp ul {
	margin-top: 0%;
}

.form-wrp ul li label {
	font-size: 28px;
	font-family: 'arboria-lightuploaded_file';
}

.form-wrp ul li input::placeholder {
	color: #c9cccb !important;
	opacity: 1;
 /* Firefox */
	font-family: 'arboria-lightuploaded_file';
}

button.submit-btn {
	background: url(../images/button_home-21.png);
	width: 275px;
	background-size: cover;
	outline: none;
	border: 0;
	height: 95px;
	text-align: center;
	color: #fff;
	font-size: 25px;
	background-position: 0px 3px;
	cursor: pointer;
}

.lgo-lft {
	background: url(../images/topwave_icon-30.png);
	height: 200px;
	background-size: cover;
	display: block;
}

.form-control {
	font-size: 1.5rem;
	background-color: #ecf0ef;
	border: 0px solid #ced4da;
	border-radius: 0px;
	font-weight: 400 !important;
	font-family: 'arboria-lightuploaded_file';
	padding: 0.725rem 0.75rem;
}

.tab-box {
	width: 25%;
	height: 465px;
	float: left;
	padding: 45px;
}

.tab-box.bg1 {
	background: url(../images/blk-001.png);
	background-size: cover;
}

.tab-box.bg2 {
	background: url(../images/blk-002.png);
	background-size: cover;
}

#exTab2 ul li a {
	font-family: 'arboria-lightuploaded_file';
	font-size: 25px;
	color: #000;
	text-decoration: none;
}

#exTab2 ul {
	width: 45%;
	margin: 0 auto;
	margin-top: -40px;
	margin-bottom: 2%;
}

#exTab2 ul li {
	width: 25%;
	text-align: center;
}

#exTab2 ul li:last-child {
	margin-right: 0% !important;
}

#exTab2 .nav-tabs {
	border-bottom: 2px solid #1e3176;
}

#exTab2 ul li.active .active {
	border-bottom: 2px solid #ff6029;
	display: block;
}

#exTab2 ul li .active.show {
	border-bottom: 2px solid #ff6029;
	display: block;
}

.tab-box h5 {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	color: #fff;
	font-size: 17px;
}

.tab-box p {
	text-align: justify;
	margin-top: 60%;
}

.ftr-btm-sec .btn-wrp a.a-btn:hover {
	text-decoration: none;
	color: #ff6029;
}

.ftr-btm-inr.c2 a {
	text-decoration: none;
}

/* Bounce In */
.hvr-bounce-in {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
	transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

  /* Pop */
@-webkit-keyframes hvr-pop {
	50% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}

@keyframes hvr-pop {
	50% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}

.hvr-pop {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
	-webkit-animation-name: hvr-pop;
	animation-name: hvr-pop;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

@media(min-width:1280px) and (max-width:1600px) {
	.container {
		max-width: 90% !important;
	}
}

@media(min-width:1280px) and (max-width:1359px) {
	.lgo-lft {
		height: 169px;
	}

	.rht-nav ul li {
		margin-right: 30px;
	}

	.mb-epsac {
		min-height: 1160px;
	}
}

@media(min-width:1360px) and (max-width:1529px) {
	.lgo-lft {
		height: 180px;
	}

	.mb-epsac {
		min-height: 1190px;
	}
}

@media(min-width:1530px) and (max-width:1599px) {
	.lgo-lft {
		height: 200px;
	}
}

@media(min-width:1600px) and (max-width:1919px) {
	.lgo-lft {
		height: 212px;
	}

	.ftr-bg3 {
		width: 47%;
	}
}

@media(min-width:1920px) and (max-width:2560px) {
	.lgo-lft {
		height: 252px;
	}

	.lgo-lft img {
		width: 52%;
		margin-left: 10%;
	}

	.rht-nav ul li {
		margin-right: 75px;
	}

	.container {
		max-width: 80%;
	}

	.mb-epsac {
		min-height: 1100px;
		background-position-y: -390px;
	}

	.ftr-bg3 {
		width: 39%;
	}

	.cnt-left h4 {
		margin-top: 15%;
	}
}